<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="regressions Test Suite">
    <parameter name="browser" value="chrome"/>
    <parameter name="platform" value="WINDOWS"/>

    <test name="RCD.java">
        <groups>
            <run>
                <include name="regress"/>
            </run>
        </groups>
        <classes>
            <class name="RCD01"/>
        </classes>
    </test>

    <!--<test name="RegressShedule.java">-->
    <!--<classes>-->
    <!--<class name="RegressShedule"/>-->
    <!--</classes>-->
    <!--</test>-->
</suite>